*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito",sans-serif;
}

.add-weather {
    text-align: center;
    margin: 100px 0;
}

.add-weather h1{
    font-size: 40px;
    padding-bottom: 20px;
 }

input[type="text"]{
    height: 50px;
    width: 600px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

button[type="add"]{
    height: 50px;
    width: 100px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

button[type="clear"]{
    height: 50px;
    width: 100px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

main{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.displayWeather{
    text-align: center;
    font-size: large;
    background-color: cadetblue;
    width: 14em;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.desc{
    text-transform: uppercase;
}



