*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito",sans-serif;
}

.add-weather {
    text-align: center;
    margin: 100px 0;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
}

button[type="add"]{
    height: 50px;
    width: 100px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

button[type="clear"]{
    height: 50px;
    width: 100px;
    background:rgb(176, 192, 219);
    font-family: "Nunito",sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

main{
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container{
    text-align: center;
    font-size: large;
    background-color: cadetblue;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}